@model ShoppingCartViewModel

<div class="container my-2">
    <form method="post">
        <div class="card shadow border-1 rounded-5">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="fw-bold text-light">Order Summary</h1>
                    </div>
                </div>
            </div>
            <div class="card-body my-2">
                <div class="container ">
                    <div class="row">
                        <div class="col-12 pb-4">
                            <a asp-action="Index" class="btn btn-outline-primary text-uppercase btn-sm">
                                <i class="bi bi-arrow-left"></i>
                                BACK TO HOME
                            </a>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary text-uppercase"><strong>Shipping Details</strong></span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Name" class="form-control" />
                                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Street Address</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.StreetAddress" class="form-control" />
                                    <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>City</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.City" class="form-control" />
                                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>State</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.State" class="form-control" />
                                    <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Postal Code</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PostalCode" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary text-uppercase"><strong>Order Summary</strong></span>
                            </h4>
                            <ul class="list-group mb-3 shadow rounded-5">
                                @foreach (var item in Model.ShoppingCartList)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0 text-uppercase text-secondary"><strong>@item.Product.Title</strong></h6>
                                            <small class="text-muted">Quantity: @item.Count</small>
                                        </div>
                                        <span class="text-muted">@((item.Price * item.Count).ToString("c"))</span>
                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <h5 class="text-dark fw-semibold text-uppercase">Total (USD)</h5>
                                    <h4 class="text-dark fw-bolder">@Model.OrderHeader.OrderTotal.ToString("c")</h4>
                                </li>
                            </ul>
                            <p class="text-danger" style="font-size:14px;">
                                <i class="bi bi-calendar"></i> Estimate Arrival Date:
                                @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-white border-0">
                <div class="row pb-3">
                    <div class="col-md-4 offset-md-4">
                        <button type="submit" value="Place Order" class="btn btn-primary w-100">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>